version: "2"
services:
  user_microservice:
    container_name: ${CONTAINER_NAME:?err}-USER
    build:
      context: ./user_module
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8080:8080"
    networks:
      app_net:
        ipv4_address: 172.20.0.2

  game_microservice:
    container_name: ${CONTAINER_NAME:?err}-GAME
    build:
      context: ./game_module
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8081:8081"
    networks:
      app_net:
        ipv4_address: 172.20.0.3

  score_microservice:
    container_name: ${CONTAINER_NAME:?err}-SCORE
    build:
      context: ./score_module
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8082:8082"
    command: npm start
    networks:
      app_net:
        ipv4_address: 172.20.0.4
  logger_microservice:
    container_name: ${CONTAINER_NAME:?err}-LOGGER
    build:
      context: ./logger_module
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8083:8083"
    command: npm start
    networks:
      app_net:
        ipv4_address: 172.20.0.5

networks:
  app_net:
    driver: bridge
    enable_ipv6: false
    ipam:
      driver: default
      config:
        - subnet: 172.20.0.0/24
          gateway: 172.20.0.1
